.loginpage{background-color: #f15a24;height: 100vh;}
.loginpagecontainer{padding: 3rem;}
.loginbutton{background-color: #f15a24;color:white;border: 2px solid white;width: 50%;}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; 
  height: 1px;
}
.rightcol{
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.rightcol::-webkit-scrollbar{
  display: none; 
  height: 1px;
}


.cast-crew-section {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.cast-card {
  text-align: center;
  margin-right: 20px;
  width: 120px;
}

.cast-img-circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.similar-movies-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.similar-movies-section .card-img-top {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.similar-movies-section .card-img-top:hover {
  transform: scale(1.05);
}


.hide-scrollbar {
  overflow: hidden;
  scrollbar-width: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}
